footer{
    background-color: var(--azul);
    color: var(--branco);
    border-radius: 10px;
    position: relative;
    top: 60px;
}
.direitos{
    display: flex;
    justify-content: end;
    position: relative;
    right: 10px;
}