@import url(./header.css);
@import url(./body.css);
@import url(./footer.css);
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--azulclaro);
}
:root{
   --azul:#7D91F7;
   --branco: white;
   --azulclaro:#DDE3FD;
   --azulescuro: #0D1749;
}