@import url(./header.css);
@import url(./body.css);
*{
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--verdeclaro);
}
:root{
    --verde: #66B032 ;
    --verdebranco: #EBF7E3;
    --verdeclaro:#9BD770;
    --verdeescuro:#375F1B;
    --verdepreto:#1B3409;
}